@import url('https://fonts.googleapis.com/css2?family=Lora&family=Playfair+Display&display=swap');

header nav {
    background-color: #f3d0d3;
    height: 80px;
}

nav a {
    color: #744247;
    text-decoration: none;
    font-family:  'Playfair Display', serif;
}

nav a:hover {
    color: #F48993;
    font-size: 18px;
}

.navLinkContainer {
    width: 60px;
    height: 60px;
}